:root {
    --cor-12: #000;
    --cor-11: #121212;
    --cor-10: #2e2e2e;
    --cor-9: #404040;
    --cor-8: #595959;
    --cor-7: #737373;
    --cor-6: #9e9e9e;
    --cor-5: #b3b3b3;
    --cor-4: #ccc;
    --cor-3: #dedede;
    --cor-2: #ededed;
    --cor-1: #f7f7f7;
    --cor-0: #fff;
    --cor-p5: #332100;
    --cor-p4: #664200;
    --cor-p3: #a47725;
    --cor-p2: #e5990b;
    --cor-p1: #ffa500;
}

/* cores neutras */
.cor-12 {
    color: var(--cor-12);
}
.cor-11 {
    color: var(--cor-11);
}
.cor-10 {
    color: var(--cor-10);
}
.cor-9 {
    color: var(--cor-9);
}
.cor-8 {
    color: var(--cor-8);
}
.cor-7 {
    color: var(--cor-7);
}
.cor-6 {
    color: var(--cor-6);
}
.cor-5 {
    color: var(--cor-5);
}
.cor-4 {
    color: var(--cor-4);
}
.cor-3 {
    color: var(--cor-3);
}
.cor-2 {
    color: var(--cor-2);
}
.cor-1 {
    color: var(--cor-1);
}
.cor-0 {
    color: var(--cor-0);
}
/* cores primarias */
.cor-p1 {
    color: var(--cor-p1);
}
.cor-p2 {
    color: var(--cor-p2);
}
.cor-p3 {
    color: var(--cor-p3);
}
.cor-p4 {
    color: var(--cor-p4);
}
.cor-p5 {
    color: var(--cor-p5);
}
